{% extends 'right-sidebar.html.twig' %}

{% block main %}
  <h1 class="h1">{{page.title}}</h1>
  <br>{{page.content|raw }}<br>
  {% if value is defined %}
    {%for val in value %}
      <strong>{{val.marque}}:<br></strong>
      <form action='register-cigarette' method='post'>
     Prix (par paquet) : <input type="text" name="price" value="8,50">
     <input type="hidden" name="type" value="cigarette">
        <input type="hidden" name="marque" value="{{val.marque}}">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
      </form>
    {%endfor %}
  {% endif %}
  {%if cigaretteForm is defined %}
    Vous désirez ajouter autre chose ?
<a href='autre-substance'>Une substance personnalisée ?</a>
<a href='cannabis'>Une variété de cannabis ?</a>
<a href='substances'>Ou un médicament ?</a><br><br>
   <form action='tabac' method='post'>
    {{ form_row(cigaretteForm.marque) }}
    <button type="submit" class="btn btn-primary">Chercher</button>
    {{ form_end(cigaretteForm) }}
  {% endif %}
{% endblock %}

{%block sidebar %}
  {%if val is defined%}
    {{user.pseudonyme}}
    nous avons ajouté la marque que vous fumez : 
    {{val}}
    aux substances que vous consommez.
    {%else%}
    {{user.pseudonyme}} cherchons ensemble la marque que vous fumez.
    {%endif%}
    <br><br>
    <em>Actuellement, les produits listés sont :</em>

      {%for substance in substances%}
      <p class="">
        {{substance.name}}
        {% if substance.nocivity is same as(true) %}<img src='../pics/icons8-happy_skull.svg' width='30px'>{% endif %}<br>
        <a href='add-substance?id={{substance.id}}'><img src='../pics/icons8-add2.png' width='30px'></a>
        {{substance.quantity}}
        <a href='less-substance?id={{substance.id}}'><img src='../pics/icons8-minus.png' width='30px'></a><br>
        <span class="badge badge-danger">Voulez-vous le supprimer ?</span>
      <a href='delete-substance?id={{substance.id}}'><img src='../pics/icons8-delete.png' width='30px'></a>
      {%if substance.nocivity is same as(false) %}
 <br> <span class="badge badge-danger">Considérez vous cette <br> substance comme nocive ?</span> 
     <a href='nocivite-substance?id={{substance.id}}'><img src='../pics/icons8-skull_heart.png' width='30px'></a>
     {%endif%}
    </p>
    {%endfor%}
  {%endblock %}
