{% extends 'sidebar.html.twig' %}
{%block main %}
  <h1>{{page.title}}</h1>
  {{page.content|raw}}<br>
  {% if substance is defined %}
    La subtance
    {{substance.name}}
    a bien été supprimée
  {% endif %}
{% endblock %}
{%block sidebar %}
<h3>
  <em>"Stay hungry, stay foolish"</em>- Steve Jobs</h3>
<br>
  Bravo
  {{user.pseudonyme}}
  !<br><br>
  {%for substance in substances%}
  <em>Actuellement, les produits listés sont :</em>
  <p class="">
    {{substance.name}}
         {% if substance.nocivity is same as(true) %}<img src='../pics/icons8-happy_skull.svg' width='30px'>{% endif %}<br>

    <a href='add-substance?id={{substance.id}}'><img src='../pics/icons8-add.png' width='30px'></a>
    {{substance.quantity}}
    <a href='less-substance?id={{substance.id}}'><img src='../pics/icons8-minus.png' width='30px'></a><br>
    <span class="badge badge-danger">Voulez-vous le supprimer ?</span>
    <a href='delete-substance?id={{substance.id}}'><img src='../pics/icons8-delete.png' width='30px'></a>
    {%if substance.nocivity is same as(false) %}
<br> <span class="badge badge-danger">Considérez vous cette <br> substance comme nocive ?</span> 
     <a href='nocivite-substance?id={{substance.id}}'><img src='../pics/icons8-skull_heart.png' width='30px'></a>
     {%endif%}
  </p>
  {%endfor%}
 {%endblock %}
