{% extends 'index.html.twig' %}
{%block main %}
  {{page.content|raw}}
{% endblock %}
{%block sidebar %}

  
  {%if substances is defined %}<h3 class="h3">Vous consommez :</h3><br>
{%for substance in substances%}
<p>
    {{substance.name}}<br>
         {% if substance.nocivity is same as(true) %}<img src='../pics/icons8-happy_skull.svg' width='30px'>{% endif %}<br>

    <a href='add-substance?id={{substance.id}}'><img src='../pics/icons8-add2.png' width='30px'></a>
    {{substance.quantity}}
    <a href='less-substance?id={{substance.id}}'><img src='../pics/icons8-minus.png' width='30px'></a><br>
    <span class="badge badge-danger">Voulez-vous le supprimer ?</span>
    <a href='delete-substance?id={{substance.id}}'><img src='../pics/icons8-delete.png' width='30px'></a>
    {%if substance.nocivity is same as(false) %}
<br> <span class="badge badge-danger">Considérez vous cette substance comme nocive ?</span> 
     <a href='nocivite-substance?id={{substance.id}}'><img src='../pics/icons8-skull_heart.png' width='30px'></a>
     {%endif%}
  </p>
  {%endfor%}  
  
  {%endif%}<br>
  {%if user is defined%}
 {{user.pseudonyme}}, commencez dès à présent à ajouter les substances que vous consommez.

 {%else %}
 <p class='alert alert-danger' role='alert'>Bonjour cher inconnu, <a href="subscribe" style="color:black !important;">inscrivez vous</a> ou <a href="login" style="color:black !important;">connectez vous</a> pour avoir accès à toutes les pages.</p>
 {%endif%}
{% endblock %}
